.git
.gitignore
.github

.venv
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

node_modules
frontend/node_modules
frontend/dist

app_data/zalo_session
app_data/rpa_session

downloads_contracts/*
!downloads_contracts/.gitkeep

*.log
.vscode
